body{
  padding-top:50px;
  padding-bottom:50px;
  margin:0 auto;
  min-height:calc(100vh - 100px);
  width:90vw;
  background-color: bisque;
}

hr{
  width:90%;
}

section{
  width:33%;
  display:inline-block;
  margin:auto;
  text-align: center;
}

img{
  display:block;
  margin:auto;
}
h1{
  text-align:center;
}

p{
  text-align:center;
}

li{
  text-align:left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}