/* start of styles.css */

a {
  text-decoration: none;
}

a:link {
  color: green;
}

a:hover {
  color: blue;
}

a:focus {
  border: 2px solid red;
}

a:active {
  color: yellow;
}

a:visited {
  color: purple;
}

/* end of styles.css */
