body{
  background-color:#f4f4f4;
}

.color-box{
  width:100px;
  height:100px;
  margin:auto;
  display:inline-block;
  border-radius:15px;
}

.color1{
  background-color: #000000;
}

.color2{
  background-color: rgb(243,145,25);
}

.color3{
  background-color: tomato;
}

.color4{
  background-color: hsl(240, 100%, 50%);
}

.color5{
  background-color: hsl(120, 100%, 50%);
}