{\rtf1\ansi\ansicpg1252\cocoartf2822
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 ** start of styles.css **\
\
.blog-post-card\{\
background-color:white;\
border-radius:20px;\
width:300px;\
text-align:center;\
\}\
\
.post-img\{\
  width:inherit;\
  border-bottom:2px solid black;\
\}\
\
.post-content\{\
  padding:10px;\
\}\
\
.post-title, .post-excerpt\{\
  color:darkblue;\
  margin:10px;\
\}\
\
.read-more\{\
  color:white;\
  background-color:black;\
  margin: 10px;\
  padding:5px 90px;\
  border-radius:5px;\
  display:inline-block;\
\}\
\
.read-more:hover\{\
  background-color:red;\
\}\
\
body\{\
  background-color:beige;\
\}\
\
** end of styles.css **\
}