/* start of styles.css */

.blog-post-card {
  background-color: white;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

.post-img {
  width: inherit;
  border-bottom: 2px solid black;
}

.post-content {
  padding: 10px;
}

.post-title,
.post-excerpt {
  color: darkblue;
  margin: 10px;
}

.read-more {
  color: white;
  background-color: black;
  margin: 10px;
  padding: 5px 90px;
  border-radius: 5px;
  display: inline-block;
}

.read-more:hover {
  background-color: red;
}

body {
  background-color: beige;
}

/* end of styles.css */
