li > span{
  font-weight:bold;
  
}

*{
  font-family:'Verdana', sans-serif;
  color:#333;
}

#image{
  max-width:100%;
  display:block;
  margin:auto;
}

h1, p, #img-caption{
  text-align:center;
}

main{
background-color:ghostwhite;
}

#img-div{
  background-color:white;
  width:90%;
  margin:auto;
  padding:10px;
}

h2{
  text-align:center;
  font-size:1.3em;
}

#bio{
  display:flex;
  flex-direction:column;
  gap:20px;
}

a{
  color:blue;
}

a:visited{
  color:purple;
}

a:hover{
  background-color:blue;
  color:white;
}