{\rtf1\ansi\ansicpg1252\cocoartf2822
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 ** start of styles.css **\
\
body\{\
background-color:rosybrown;\
font-family:Arial,sans-serif;\
\}\
\
.business-card\{\
  width:300px;\
  background-color:pink;\
  padding:20px;\
  margin-top:100px;\
  text-align:center;\
  font-size:16px;\
  margin-left:auto;\
  margin-right:auto;\
\}\
\
.profile-image\{\
  max-width:100%;\
\}\
p\{\
  margin-top:5px;\
  margin-bottom:5px;\
\}\
\
a\{\
  text-decoration:none;\
\}\
\
** end of styles.css **}