input:focus, textarea:focus{
  border: 2px solid blue;
}

input:invalid, select:invalid, textarea:invalid{
  border: 2px solid red;
}

input:valid,
select:valid,
textarea:valid{
  border: 2px solid green;
}

button:hover{
background-color:lightgreen;
}

.radio-group input[type="radio"]:checked{
  border: 2px solid blue;
background-color:whitesmoke;
  box-shadow: 0 2px 5px black;
}

.radio-group input[type="radio"]:checked + label{
  color:blue;
}
input:first-of-type{
  border-radius:5px;
}