body{
background-color:lightcyan;
}

.form-container{
  background-color:white;
  border-radius:20px;
  padding:10px;
  width:80%;
  margin: auto;
}

label{
  display:block;
  text-align:center;
  margin:20px auto;
  color:grey;
  font-family: Tahoma;
}

h2{
  display:block;
  text-align:center;
  margin:20px auto;
  font-family: Tahoma;
}

input, textarea{
  display:block;
  margin:10px auto;
  margin-bottom:10px;
  width:90%;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius:5px;
  min-height:20px;
}

button{
  display:block;
  margin: auto;
  width:90%;
  height:40px;
background-color:#00ff00;
border: 1px solid #00ff00;
border-radius:5px;
font-family:Tahoma;
font-size:1.1rem;
}

button:hover{
  background-color:#aaff00;
}
