#email{
  padding:50px;
  margin-top:50px;
  width:500px;
  border:2px;
  box-sizing:border-box;
}

#confidential, #top-secret{
  display:inline-block;
  padding:10px;
  margin-left:10px;
  border: 5px solid red;
  color:red;
  font-size:20px;
  font-weight:bold;
  margin-left:10px;

}

#confidential{
  transform: rotate(-20deg) translate(200px, 70px);

}

#top-secret{
  transform: rotate(20deg);
}

.blurred{
  filter:blur(3px);
}

#email{
  background-color:lightyellow;
  border:3px solid black;
}