#house{
  position:relative;
  top:50px;
  left:100px;
  width:500px;
  height:400px;
  background-color:coral;
  border:5px solid beige;
}

#chimney{
  position:absolute;
  top:-60px;
  left:350px;
  width:100px;
  height:60px;
  background-color:grey;
  border: 1px solid black;
  z-index: -1
}

.slab{
  border:1px solid black;
  width:100%;
  height:25%;
}

.last{
  border-bottom:none;
}

#roof{
  position:absolute;
  width:100%;
  height:150px;
  background-color:beige;
  border:2px solid beige;
}

#window-1{
  position:absolute;
  border:2px solid black;
  height:100px;
  width:100px;
  top:240px;
  left:50px;
  background-color:coral;
}

#window-2{
  position:absolute;
  border:2px solid black;
  height:100px;
  width:100px;
  top:240px;
  left:350px;
  background-color:coral;
}

#pane-1{
  border:2px solid brown;
  height:90px;
  width:45%;
  position:absolute;
  top: 3px;
  left:2px;
  background-color:beige;
}

#pane-2{
  border:2px solid brown;
  height:90px;
  width:45%;
  position:absolute;
  top: 3px;
  left:49px;
  background-color:beige;
}

#pane-3{
  border:2px solid brown;
  height:90px;
  width:45%;
  position:absolute;
  top: 3px;
  left:2px;
  background-color:beige;
}

#pane-4{
  border:2px solid brown;
  height:90px;
  width:45%;
  position:absolute;
  top: 3px;
  left:49px;
  background-color:beige;
}

#door{
  border: 4px solid beige;
  width:100px;
  height:140px;
  position:absolute;
  left:205px;
  bottom:0;
  background-color:lightblue;
}

#knob{
  position:absolute;
  border:1px solid beige;
  width:20px;
  height:20px;
  border-radius:50%;
  top:70px;
  left:70px;
  background-color:beige;
}

#sky{
  position:absolute;
  z-index:-1;
  background-color:cyan;
  width:100%;
  height:50%;
}
#ground{
  position:absolute;
  z-index:-1;
  background-color:mediumseagreen;
  width:100%;
  height:50%;
  top:50%;
}

body{
  margin:0;
}